<!-- templates/passwords/add_password.html -->
{% extends 'base.html' %}

{% block title %}Добавить пароль{% endblock %}

{% block header %}Добавление нового пароля{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}

        <label for="site">Сайт:</label>
        <input type="text" name="site" id="site" required>

        <label for="username">Имя пользователя:</label>
        <input type="text" name="username" id="username" required>

        <label for="password">Пароль:</label>
        <input type="text" name="password" id="password">

        <button type="submit" name="password" value="generate">Сгенерировать пароль</button>
        <button type="submit">Добавить</button>
    </form>
{% endblock %}
