<!-- templates/passwords/password_list.html -->
{% extends 'base.html' %}

{% block title %}Список паролей{% endblock %}

{% block header %}Ваши сохранённые пароли{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Сайт</th>
                <th>Имя пользователя</th>
                <th>Пароль</th>
            </tr>
        </thead>
        <tbody>
            {% for password in passwords %}
                <tr>
                    <td>{{ password.site }}</td>
                    <td>{{ password.username }}</td>
                    <td>{{ password.password }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">У вас ещё нет сохранённых паролей.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
